absl-py==0.12.0
actionlib==1.13.2
angles==1.9.13
appdirs==1.4.3
astor==0.8.1
atari-py==0.2.6
attrs==20.3.0
backcall==0.2.0
bondpy==1.8.6
box2d-py==2.3.8
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.2.1
camera-calibration==1.15.3
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
cloudpickle==1.2.1
colorama==0.4.3
contextlib2==0.6.0
controller-manager==0.19.5
controller-manager-msgs==0.19.5
cv-bridge==1.15.0
cvxopt==1.2.6
cvxpy==1.1.13
cycler==0.10.0
Cython==0.29.22
decorator==5.0.6
diagnostic-analysis==1.10.4
diagnostic-common-diagnostics==1.10.4
diagnostic-updater==1.10.4
distlib==0.3.0
distro==1.4.0
dynamic-reconfigure==1.7.1
ecos==2.0.7.post1
fasteners==0.16
future==0.18.2
gast==0.4.0
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
glfw==2.1.0
google-auth==1.29.0
google-auth-oauthlib==0.4.4
grpcio==1.37.0
gym==0.15.7
h5py==3.1.0
html5lib==1.0.1
idna==2.8
image-geometry==1.15.0
imageio==2.9.0
importlib-metadata==3.10.0
iniconfig==1.1.1
interactive-markers==1.12.0
ipaddr==2.2.0
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
joblib==0.14.0
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
laser-geometry==1.6.7
lockfile==0.12.2
Markdown==3.3.4
matplotlib==3.1.1
message-filters==1.15.11
mock==4.0.3
mpi4py==3.0.2
msgpack==0.6.2
mujoco-py==2.0.2.7
numpy==1.17.5
oauthlib==3.1.0
opencv-python==4.5.1.48
osqp==0.6.2.post0
packaging==20.3
pandas==1.1.5
parso==0.8.2
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.13.1
progress==1.5
prompt-toolkit==3.0.18
protobuf==3.15.8
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyglet==1.5.0
Pygments==2.8.1
pyparsing==2.4.6
pytest==6.2.3
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytoml==0.1.21
pytz==2021.1
qdldl==0.1.5.post0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
requests==2.22.0
requests-oauthlib==1.3.0
resource-retriever==1.12.6
retrying==1.3.3
rosbag==1.15.11
rosboost-cfg==1.15.7
rosclean==1.15.7
roscreate==1.15.7
rosgraph==1.15.11
roslaunch==1.15.11
roslib==1.15.7
roslint==0.12.0
roslz4==1.15.11
rosmake==1.15.7
rosmaster==1.15.11
rosmsg==1.15.11
rosnode==1.15.11
rosparam==1.15.11
rospy==1.15.11
rosservice==1.15.11
rostest==1.15.11
rostopic==1.15.11
rosunit==1.15.7
roswtf==1.15.11
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.2
rqt-py-console==0.4.10
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.2
rqt-top==0.4.10
rqt-topic==0.4.12
rqt-web==0.4.10
rsa==4.7.2
rviz==1.14.8
-e git+https://github.com/openai/safety-starter-agents.git@4151a283967520ee000f03b3a79bf35262ff3509#egg=safe_rl
-e git+https://github.com/openai/safety-gym.git@f31042f2f9ee61b9034dd6a416955972911544f5#egg=safety_gym
scikit-learn==0.23.0
scipy==1.5.4
scs==2.1.4
seaborn==0.8.1
sensor-msgs==1.13.1
six==1.14.0
sklearn==0.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
-e git+https://github.com/openai/spinningup.git@038665d62d569055401d91856abb287263096178#egg=spinup
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
threadpoolctl==2.1.0
toml==0.10.2
topic-tools==1.15.11
torch==1.3.1
tqdm==4.60.0
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.25.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
xacro==1.14.7
xmltodict==0.12.0
zipp==3.4.1
